<style>
    .content {
      font-size: 11pt;
    }
    .padding {
      padding-top: 15px;
    }

    .tableTitle {
      font-size: 11pt;
    }
  </style>


  <!-- New -->
  <% if(report.noReportableVariantsText) { %>
    <div class="content bold padding">Pathogenic and Likely Pathogenic Variants</div>

    <!-- cnvsFailed == true -->
    <% if(report.cnvsFailed) { %>
      <p class="content"><%= report.noReportableVariantsText %></p>
      <p class="content"><%= report.cnvsFailedText %></p>
    <% } %>

    <!-- cnvsFailed == false -->
    <% if(!report.cnvsFailed) { %>
      <p class="content"><%= report.noReportableVariantsText %></p>
    <% } %>
  <% } %>


  <% if((variants !== undefined) && (variants !== null) && (variants.length > 0)) { %>

    <% if((reportableVariants !== undefined) && (reportableVariants !== null) && (reportableVariants.length > 0)) { %>

      <div class="content bold padding">Pathogenic and Likely Pathogenic Variants</div>

      <% for(var i=0; i < reportableVariants.length; i++) { %>
        <p class="content"><%= reportableVariants[i].variantInterpretation %></p>
      <% } %>

      <span class="tableTitle">Table : Details of Pathogenic and Likely Pathogenic Variants</span>

      <!-- Variants Table --> 
      <%- include('./hgsccl-report-variants-table', {
        variants: reportableVariants
      }); %>
    <% } %>
  <% } %>

