<style>
  .content {
    font-size: 11pt;
  }
  .tableTitle {
    font-size: 11pt;
  }
  .padding {
    padding-top: 15px;
  }
  table#pharmacogenemoic-profile-table{
    background-color: white;
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: none;
  }

  table#pharmacogenemoic-profile-table td {
    font-size: 9pt;
    text-align: left;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  table#pharmacogenemoic-profile-table th {
    font-size: 10pt;
    color: rgb(121, 121, 121);
    text-align: left;
    padding-left: 10px; 
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  table#pharmacogenemoic-profile-table tr:nth-child(odd) {
    border-top: 1px solid rgb(121, 121, 121);
    border-bottom: 1px solid rgb(121, 121, 121);
  }
</style>

<div class="content bold padding">Pharmacogenomic Variants</div>
<p class="content"><%= pgxDescription %></p>
<span class="tableTitle">Table: Details of Pharmacogenomic Variants</span><br>
<div class="component">
  <table id="pharmacogenemoic-profile-table" class="border table">
    <tr>
      <th>Gene</th>
      <th>Drug</th>
      <th>Diplotype</th>
      <th>Phenotype</th>
      <th>Recommendation</th>
    </tr>
    <% for(var i = 0;  i < pgxData.length; i++) { %>
      <tr>
        <td><%= pgxData[i].geneSymbol %></td>
        <td><%= pgxData[i].drugs %></td>
        <td><%= pgxData[i].diplotype %></td>
        <td><%= pgxData[i].phenotype %></td>
        <td><%= pgxData[i].recommendation %></td>
      </tr>
      <% } %>
  </table>
</div>
