<style>
  :root {
        --primary-report-color: rgb(236, 245, 251);
        --secondary-report-color: rgb(173, 203, 226);
        --gene-panel-positive: rgb(203, 70, 69);
        --gene-panel-negative: rgb(85, 129, 57);
        --prs-high: rgb(234, 113, 43);
        --prs-moderate: rgb(222, 167, 42);
        --prs-low: rgb(116, 116, 116);
        --lpa-neg: rgb(85, 129, 57);
        --lpa-pos: rgb(234, 113, 43);;
        --pgx-positive: rgb(40, 105, 172);
        --pgx-negative: rgb(133, 151, 175);
        --grey: rgb(117, 117, 117);
        --patient-table: rgb(222, 235, 246);
        --patient-table-box-shadow: rgb(182, 182, 182);
        font-family: 'Open Sans', sans-serif;
      }
      .component {
        margin: 15px 20px;
        display: block;
      }
      .table {
        page-break-inside: avoid;
      }

      .component.border {
        border: 1px var(--grey) solid;
      }
      .component.border-summary{
        border: 1px var(--secondary-report-color) solid;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        overflow: hidden;
      }
      .component.border-summary-gene-panel-positive {
        border: 1px var(--gene-panel-positive) solid;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        overflow: hidden;
      }

      .component.border-summary-gene-panel-negative {
        border: 1px var(--gene-panel-negative) solid;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        overflow: hidden;
      }

      .component.border-summary-prs-high {
        border: 1px var(--prs-high) solid;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        overflow: hidden;
      }

      .component.border-summary-prs-moderate {
        border: 1px var(--prs-moderate) solid;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        overflow: hidden;
      }

      .component.border-summary-prs-low {
        border: 1px var(--prs-low) solid;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        overflow: hidden;
      }

      .component.border-summary-lpa-neg {
        border: 1px var(--lpa-neg) solid;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        overflow: hidden;
      }

      .component.border-summary-lpa-pos {
        border: 1px var(--lpa-pos) solid;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        overflow: hidden;
      }

      .component.border-summary-pgx-positive {
        border: 1px var(--pgx-positive) solid;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        overflow: hidden;
      }

      .component.border-summary-pgx-negative {
        border: 1px var(--pgx-negative) solid;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        overflow: hidden;
      }

      .component.border-gene-panel-positive {
        border: 1px var(--gene-panel-positive) solid;
      }

      .component.border-gene-panel-negative {
        border: 1px var(--gene-panel-negative) solid;
      }

      .component.border-prs-high {
        border: 1px var(--prs-high) solid;
      }

      .component.border-prs-moderate {
        border: 1px var(--prs-moderate) solid;
      }

      .component.border-prs-low {
        border: 1px var(--prs-low) solid;
      }

      .component.border-lpa-pos {
        border: 1px var(--lpa-pos) solid;
      }

      .component.border-lpa-neg {
        border: 1px var(--lpa-neg) solid;
      }

      .component.border-pgx-positive {
        border: 1px var(--pgx-positive) solid;
      }

      .component.border-pgx-negative {
        border: 1px var(--pgx-negative) solid;
      }

      .title {
        background-color: var(--grey);
        font-weight: bold;
        padding: 10px 10px;
        color: white;
        padding-top: 12px;
        padding-bottom: 12px;
      }
      .tableTitle {
        font-weight: bold;
        padding: 0px 10px;
      }
      .content {
        padding: 0px 10px;
        line-height: 1.4
      }
      .content.bold {
        font-weight: bold;
      }
      .positive {
        background-color: var(--gene-panel-positive);
        color: white;
      }

      .negative {
        background-color: var(--gene-panel-negative);
        color: white;
      }

      .positiveIcon {
        color: white;
      }

      .negativeIcon {
        color: white;
      }

      .highRiskScore {
        background-color: var(--prs-high);
        color: white;
      }

      .moderateRiskScore {
        background-color: var(--prs-moderate);
        color: white;
      }

      .lowRiskScore {
        background-color: var(--prs-low);
        color: white;
      }

      .highRiskScoreIcon {
        color: white;
      }

      .moderateRiskScoreIcon {
        color: white;
      }

      .lowRiskScoreIcon {
        color: white;
      }

      .positiveLpa {
        background-color: var(--lpa-pos);
      }

      .negativeLpa {
        background-color: var(--lpa-neg);
      }

      .pharmacoPositive {
        background-color: var(--pgx-positive);
        color: white;
      }

      .pharmacoNegative {
        background-color: var(--pgx-negative);
        color: white;
      }

      .pharmacoPositiveIcon {
        color: white;
      }

      .pharmacoPositiveIcon {
        color: white;
      }

      .detail {
        float: right;
        color: white;
        font-size: 12px;
      }

      .icon {
        width: 20px;
        height: 20px;
      }

      .horizontalLine {
        margin-top: 150px;
        margin-bottom: 50px;
      }


</style>

<!-- Summary Test Info-->
<%- include('./partials/hgsccl-cvd-report-summary-test-info', {
  testInfoSummary: report.testInfoSummary
}); %>

<!-- Summary Patient Info-->
<%- include('./partials/hgsccl-cvd-report-summary-patient-info', {
  order: report.order,
  reportStateChanged: report.stateChanged,
  reportState: report.state,
  isPhiChecked: isPhiChecked,
}); %>

<!-- Summary Gene Panel-->
<%- include('./partials/hgsccl-cvd-report-summary-gene-panel', {
  panelFinding: report.panelFinding,
  panelSummary: report.panelSummary,
  panelRecommendation: report.panelRecommendation,
  negativeGenePanelIcon: negativeGenePanelIcon,
  positiveGenePanelIcon: positiveGenePanelIcon
}); %>

<!-- Summary PRS-->
<%- include('./partials/hgsccl-cvd-report-summary-polygenic-risk-score', {
  prsRecommendation : report.prsRecommendation,
  prsSummary: report.prsSummary,
  prsFinding: report.prsFinding,
  highPrsIcon: highPrsIcon,
  moderatePrsIcon: moderatePrsIcon,
  lowPrsIcon: lowPrsIcon
}); %>

<!-- Summary LPA -->
<%- include('./partials/hgsccl-cvd-report-summary-lpa', {
  lpaRecommendation: report.lpaRecommendation,
  lpaSummary: report.lpaSummary,
  lpaFinding: report.lpaFinding,
  posLpaIcon: posLpaIcon,
  negLpaIcon: negLpaIcon
}); %>

<!-- Summary PGX-->
<%- include('./partials/hgsccl-cvd-report-summary-pharmacogenetics-finding', {
  pgxFinding: report.pgxFinding,
  pgxSummaryRecommendation: report.pgxSummaryRecommendation,
  positivePgxIcon: positivePgxIcon,
  negativePgxIcon: negativePgxIcon
}); %>

<!-- Summary Addendum-->
<%- include('./partials/hgsccl-cvd-report-summary-addendum', {
  addendums: report.addendums
}); %>

<!-- Signature-->
<% if(report.state.toLowerCase()=== 'approved') { %>
  <%- include('./partials/hgsccl-cvd-report-signature', {
    stateChanged: report.stateChanged,
    blankSignature: blankSignature
  }); %>
<% } %>

<!-- Report Footer-->
<%- include('./partials/hgsccl-cvd-report-footer', {
  footer: report.footer
}); %>

<div style="page-break-before: always;"></div>

<hr class="horizontalLine">

<!-- Test Info Detail-->
<%- include('./partials/hgsccl-cvd-report-test-info-detail', {
  testInfoDetail: report.testInfoDetail
}); %>

<!-- Patient Info-->
<%- include('./partials/hgsccl-cvd-report-patient-information', {
  stateChanged: report.stateChanged,
  order: report.order,
  state: report.state,
  isPhiChecked: isPhiChecked
}); %>


<!-- Report Addendum -->
<%- include('./partials/hgsccl-cvd-report-addendum', {
  addendums: report.addendums
}); -%>

<!-- Report Overal Interpretation-->
<%- include('./partials/hgsccl-cvd-report-overall-interpretation', {
  overallInterpretationText: report.overallInterpretationText,
  familyScreening: report.familyScreening,
  panelManagementRecommendation: report.panelManagementRecommendation
}); %>


<!-- Report Gene Panel-->
<%- include('./partials/hgsccl-cvd-report-gene-panel',{
  panelFinding: report.panelFinding,
  report: report,
  reportableVariants: reportableVariants
}); %>

<!-- Report PRS -->
<%- include('./partials/hgsccl-cvd-report-polygenic-risk-score', {
  prsFinding: report.prsFinding,
  prsSummary: report.prsSummary,
  prsRecommendationDetail: report.prsRecommendationDetail,
  prsDisclaimer: report.prsDisclaimer
}); %>

<!-- Report LPA -->
<%- include('./partials/hgsccl-cvd-report-lpa', {
  lpaRecommendationDetail: report.lpaRecommendationDetail,
  lpaSummary: report.lpaSummary,
  lpaFinding: report.lpaFinding,
  lpaDisclaimer: report.lpaDisclaimer
}); %>

<!-- Report PGX -->
<%- include('./partials/hgsccl-cvd-report-pharmacogenetics-finding', {
  pgxFinding: report.pgxFinding,
  pgxDescription: report.pgxDescription,
  pgxData: report.pgxData,
  pgxDisclaimer: report.pgxDisclaimer
}); %>

<!-- Report Methodology -->
<%- include('./partials/hgsccl-cvd-report-methodology', {
  methodology: report.methodology
}); %>

<!-- Report Gene Coverage -->
<%- include('./partials/hgsccl-cvd-report-gene-coverage', {
  geneCoverageText: report.geneCoverageText
}); %>

<!-- Report References -->
<%- include('./partials/hgsccl-cvd-report-references', {
  references: report.references
}); %>

<!-- Report Signature -->
<!-- Signature-->
<% if(report.state.toLowerCase()=== 'approved') { %>
  <%- include('./partials/hgsccl-cvd-report-signature', {
    stateChanged: report.stateChanged,
    blankSignature: blankSignature
  }); %>
<% } %>











