<style>
  .footer {
    color: red;
  }

  .header {
    color: green;
  }

  .title {
    color: blue;
  }
</style>

<!-- Summary Header-->
<%- include('./partials/hgsccl-cvd-report-summary-header'); %>
<br>

<!-- Summary Test Info-->
<%- include('./partials/hgsccl-cvd-report-summary-test-info'); %>
<br>

<!-- Summary Patient Info-->
<%- include('./partials/hgsccl-cvd-report-summary-patient-info'); %>
<br>

<!-- Summary Gene Panel-->
<%- include('./partials/hgsccl-cvd-report-summary-gene-panel'); %>
<br>

<!-- Summary PRS-->
<%- include('./partials/hgsccl-cvd-report-summary-polygenic-risk-score'); %>
<br>

<!-- Summary LPA -->
<%- include('./partials/hgsccl-cvd-report-summary-lpa'); %>
<br>

<!-- Summary PGX-->
<%- include('./partials/hgsccl-cvd-report-summary-pharmacogenetics-finding'); %>
<br>

<!-- Summary Addendum-->
<%- include('./partials/hgsccl-cvd-report-summary-addendum'); %>
<br>

<!-- Signature-->
<%- include('./partials/hgsccl-cvd-report-signature'); %>
<br>

<div style="page-break-before: always;"></div>

<hr class="horizontalLine">

<!-- Report Header-->
<%- include('./partials/hgsccl-cvd-report-header'); %>
<br>

<!-- Test Info Detail-->
<%- include('./partials/hgsccl-cvd-report-test-info-detail'); %>
<br>

<!-- Patient Info-->
<%- include('./partials/hgsccl-cvd-report-patient-information'); %>
<br>

<!-- Report Addendum -->
<%- include('./partials/hgsccl-cvd-report-addendum'); -%>
<br>

<!-- Report Overal Interpretation-->
<%- include('./partials/hgsccl-cvd-report-overall-interpretation'); %>
<br>

<!-- Report Gene Panel-->
<%- include('./partials/hgsccl-cvd-report-gene-panel'); %>
<br>

<!-- Report PRS -->
<%- include('./partials/hgsccl-cvd-report-polygenic-risk-score'); %>
<br>

<!-- Report LPA -->
<%- include('./partials/hgsccl-cvd-report-lpa'); %>
<br>

<!-- Report PGX -->
<%- include('./partials/hgsccl-cvd-report-pharmacogenetics-finding'); %>
<br>

<!-- Report Methodology -->
<%- include('./partials/hgsccl-cvd-report-methodology'); %>
<br>

<!-- Report Gene Coverage -->
<%- include('./partials/hgsccl-cvd-report-gene-coverage'); %>
<br>

<!-- Report References -->
<%- include('./partials/hgsccl-cvd-report-references'); %>
<br>

<!-- Report Signature -->
<%- include('./partials/hgsccl-cvd-report-signature'); %>

<!-- Report Footer-->
<%- include('./partials/hgsccl-cvd-report-footer'); %>











